
@model List<Card>;




            <div class="container mt-5">
                <div class="row">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                           <div class="col-lg-4 py-4">
                      <div class="card"  >
                 <img src="https://picsum.photos/400/300" class="card-img-top" alt="img">
                   <div class="card-body">
                      <h5 class="card-title">@Model[i].Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="home/details/@Model[i].Id" class="btn btn-primary">See Details @Model[i].Id </a>
                         </div>
                      </div>
                    </div>
                    }
                </div> 
            </div>

     